@import "../system/_mix", "../system/_vars";

.w {margin-left:auto;margin-right:auto;max-width:$w;width:100%;}

.noJs {background:#F47D7D;padding:$padd-xs;text-align:center;color:#fff;font-size:12px;text-shadow:1px 1px 0 rgba(0,0,0,.1);}




/* HEADER */
.header {
	& {background: #ccc;}
}


/* FOOTER */
.footer {
	& {background: #777;}
}