// Base
$w: 1000px;
$bg: #fff;
$text-color: #000;

$main-color: #f5da5a;
$accent-color: #5983d5;
$muted-color: lighten($main-color, 20%);

$p: '../img';


// Links
$link-color: $accent-color;
$link-color-hover: darken($link-color, 20%);


//Colors
$input-border: #ccc;


//Fonts family
$Arial: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$ArialBlack: "Arial Black", "Helvetica CY", "Nimbus Sans L" sans-serif;
$ComicSans: "Comic Sans MS", "Monaco CY", cursive;
$Courier: "Courier New", "Nimbus Mono L", monospace;
$Georgia: Georgia, "Century Schoolbook L", Serif;
$Impact: Impact, "Charcoal CY", sans-serif;
$LucidaConsole: "Lucida Console", Monaco, monospace;
$LucidaSans: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$Palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$Tahoma: Tahoma, "Geneva CY", sans-serif;
$TimesNew: "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
$Trebuchet: "Trebuchet MS", "Helvetica CY", sans-serif;
$Verdana: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;




// Fonts
$font: $Arial;
$font-base: 62.5%;
$font-size: 16px;
$line-height: 1.5;

$btn-line-heigh: 1.25;
$form-line-height: 1.25;




//Mixins
@mixin font-size($sizeValue) {
	font-size: ($sizeValue / 10px) + rem;
}

@mixin clr {content:'';display:table;clear:both;width:100%;}

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&::-moz-placeholder {@content}
	&:-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
}