@import "vars", "mix";


.clr:after {content:'';display:block;clear:both;width:100%;}

.accent {color:$accent-color;}
.muted {color:$muted-color;}


// Fluid
.fluid-embed {
	& {position:relative;display:block;height:0;padding:0;overflow:hidden;}

	iframe, embed, object, video {position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0;}

	&--16x9 {padding-bottom:56.25%;}
	&--4x3 {padding-bottom:75%;}
}

.fluid-img {max-width:100%;
	img {max-width:100%;vertical-align:top;}
}

.fluid-table {display:block;width:100%;min-height:0.01%;overflow-x:auto;
	table {max-width:100%;width:100%;}
}


// Text
.float-left {float:left;}
.float-right {float:right;}
.overflow {overflow:hidden;}

.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.text-justify {text-align:justify;}
.text-lower {text-transform: lowercase;}
.text-upper {text-transform: uppercase;}

.flex-justify {display:flex;justify-content:space-between;}

.nowrap {white-space:nowrap;}

.bold {font-weight:bold;}
.italic {font-style:italic;}
.normal {font-style:normal;font-weight:normal;}

mark, .mark {background-color:#fcf8e3;padding:0.2em;}

.imp {color: red;display: inline-block;font-size: 2rem;vertical-align: top;margin:0 0 0 .5rem;}


// Link
.link-hover a {text-decoration: none;}
.link-hover a:hover {text-decoration: underline;}

.link-invert a {text-decoration: underline;}
.link-invert a:hover {text-decoration: none;}

.link-unhover a{text-decoration: none;}
.link-unhover a:hover {text-decoration: none;}


//Normalize
.txt {
	ul, ol {margin:2.5rem}
	ul {list-style:disc}
	ol {list-style:decimal}
	ul ul, ol ul, ul ol, ol ol {margin-bottom: 0;}
	li {position:relative}


	p {margin-bottom:2.5rem}
	img, embed, iframe, object, video {max-width:100%;height:auto !important;}

	img[style*="float:left"], img[style*="float: left"], img[style*="float :left"], img[style*="float : left"] {margin-right:2rem !important;}
	img[style*="float:right"], img[style*="float: right"], img[style*="float :right"], img[style*="float : right"] {margin-left:2rem !important;}


	& > p:last-child, & > ul:last-child, & > table:last-child {margin-bottom:0}


	table {width:100%;max-width:100%;margin-bottom:2.5rem}



	h1 {@extend .h1;}
	h2 {@extend .h2;}
	h3 {@extend .h3;}
	h4 {@extend .h4;}
	h5 {@extend .h5;}
	h6 {@extend .h6;}
}

.h1, .h2, .h3, .h4, .h5, .h6 {margin-bottom:1rem;line-height:1.1;}
.h1 {font-size:2rem;}
.h2 {font-size:1.8rem;}
.h3 {font-size:1.6rem;}
.h4 {font-size:1.4rem;}
.h5 {font-size:1.3rem;}
.h6 {font-size:1.2rem;text-transform:uppercase;}