@import "_vars";


.clr:after {content:'';display:block;clear:both;width:100%;}


//Colors
.color-accent {color:$accent-color;}
.color-main {color:$main-color;}
.color-muted {color:$muted-color;}


//Fluid
.fluid-embed {
	& {position:relative;display:block;height:0;padding:0;overflow:hidden;padding-bottom:56.25%;}

	iframe, embed, object, video {position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0;}

	//&--16x9 {padding-bottom:56.25%;}
	&--4x3 {padding-bottom:75% !important;}
}

.fluid-img {max-width:100%;
	img {max-width:100%;vertical-align:top;}
}

.fluid-table {display:block;width:100%;min-height:0.01%;overflow-x:auto;
	table {max-width:100%;width:100%;}
}


//Text
.float-left {float:left;}
.float-right {float:right;}
.overflow {overflow:hidden;}

.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.text-justify {text-align:justify;}

.font-bold {font-weight:bold;}
.font-italic {font-style:italic;}
.font-normal {font-style:normal;font-weight:normal;}
.font-lower {text-transform: lowercase;}
.font-upper {text-transform: uppercase;}

mark, .mark {background-color:#fcf8e3;padding:.2em;}



//No
.no-wrap {white-space:nowrap;}
.no-border {border:0 !important;
	td, th, tr {border:0 !important;}
}
.no-outline {outline:none !important;}
.no-select {user-select: none;}
.no-events {pointer-events:none;}



//Link
.link-hover a {text-decoration: none;}
.link-hover a:hover {text-decoration: underline;}

.link-invert a {text-decoration: underline;}
.link-invert a:hover {text-decoration: none;}

.link-unhover a {text-decoration: none;}
.link-unhover a:hover {text-decoration: none;}


//Normalize
.txt {
	&:after {@include clr;}

	ul, ol {margin:2.5rem}
	ul {list-style:disc}
	ol {list-style:decimal}
	ul ul, ol ul, ul ol, ol ol {margin-bottom: 0;}
	li {position:relative}


	p {@extend .p;}
	img, embed, iframe, object, video {max-width:100%;height:auto !important;}

	img[style*="float:left"], img[style*="float: left"], img[style*="float :left"], img[style*="float : left"] {margin-right:2rem !important;}
	img[style*="float:right"], img[style*="float: right"], img[style*="float :right"], img[style*="float : right"] {margin-left:2rem !important;}


	& > p:last-child, & > ul:last-child, & > table:last-child {margin-bottom:0}


	table {width:100%;max-width:100%;margin-bottom:2.5rem}
	td, th {vertical-align:top;}


	h1 {@extend .h1;}
	h2 {@extend .h2;}
	h3 {@extend .h3;}
	h4 {@extend .h4;}
	h5 {@extend .h5;}
	h6 {@extend .h6;}
}

.h1, .h2, .h3, .h4, .h5, .h6 {margin-bottom:1rem;line-height:1.1;}
.h1 {font-size:2rem;}
.h2 {font-size:1.8rem;}
.h3 {font-size:1.6rem;}
.h4 {font-size:1.4rem;}
.h5 {font-size:1.3rem;}
.h6 {font-size:1.2rem;text-transform:uppercase;}

.p {margin-bottom:2.5rem;}



//Display
.d-block {display:block;}
.d-inline {display:inline;}
.d-iblock {display:inline-block;}


//Font
$step: 10;
@while $step <= 20 {
	.font-#{$step} {
		$size: $step/10;
		font-size:#{$size}rem;
	}

	$step: $step+1;
}


$step: 20;
@while $step <= 40 {
	$step: $step+2;
	.font-#{$step} {
		$size: $step/10;
		font-size:#{$size}rem;
	}
}


//Width
.max-width-100 {max-width:100%;}
.width-100 {width:100%;}
.width-75 {width:75%;}
.width-50 {width:50%;}
.width-33 {width:33.3333%;}
.width-25 {width:25%;}


//Margins
.m-a {margin:auto;}
.m-0 {margin:0;}.ml-0 {margin-left:0;}.mt-0 {margin-top:0;}.mr-0 {margin-right:0;}.mb-0 {margin-bottom:0;}
.m-5 {margin:.5rem;}.ml-5 {margin-left:.5rem;}.mt-5 {margin-top:.5rem;}.mr-5 {margin-right:.5rem;}.mb-5 {margin-bottom:.5rem;}
.m-10 {margin:1rem;}.ml-10 {margin-left:1rem;}.mt-10 {margin-top:1rem;}.mr-10 {margin-right:1rem;}.mb-10 {margin-bottom:1rem;}
.m-15 {margin:1.5rem;}.ml-15 {margin-left:1.5rem;}.mt-15 {margin-top:1.5rem;}.mr-15 {margin-right:1.5rem;}.mb-15 {margin-bottom:1.5rem;}
.m-20 {margin:2rem;}.ml-20 {margin-left:2rem;}.mt-20 {margin-top:2rem;}.mr-20 {margin-right:2rem;}.mb-20 {margin-bottom:2rem;}
.m-25 {margin:2.5rem;}.ml-25 {margin-left:2.5rem;}.mt-25 {margin-top:2.5rem;}.mr-25 {margin-right:2.5rem;}.mb-25 {margin-bottom:2.5rem;}
.m-30 {margin:3rem;}.ml-30 {margin-left:3rem;}.mt-30 {margin-top:3rem;}.mr-30 {margin-right:3rem;}.mb-30 {margin-bottom:3rem;}
.m-35 {margin:3.5rem;}.ml-35 {margin-left:3.5rem;}.mt-35 {margin-top:3.5rem;}.mr-35 {margin-right:3.5rem;}.mb-35 {margin-bottom:3.5rem;}
.m-40 {margin:4rem;}.ml-40 {margin-left:4rem;}.mt-40 {margin-top:4rem;}.mr-40 {margin-right:4rem;}.mb-40 {margin-bottom:4rem;}
.m-45 {margin:4.5rem;}.ml-45 {margin-left:4.5rem;}.mt-45 {margin-top:4.5rem;}.mr-45 {margin-right:4.5rem;}.mb-45 {margin-bottom:4.5rem;}
.m-50 {margin:5rem;}.ml-50 {margin-left:5rem;}.mt-50 {margin-top:5rem;}.mr-50 {margin-right:.5rem;}.mb-50 {margin-bottom:5rem;}

//Paddings
.p-0 {padding:0;}.pl-0 {padding-left:0;}.pt-0 {padding-top:0;}.pr-0 {padding-right:0;}.pb-0 {padding-bottom:0;}
.p-5 {padding:.5rem;}.pl-5 {padding-left:.5rem;}.pt-5 {padding-top:.5rem;}.pr-5 {padding-right:.5rem;}.pb-5 {padding-bottom:.5rem;}
.p-10 {padding:1rem;}.pl-10 {padding-left:1rem;}.pt-10 {padding-top:1rem;}.pr-10 {padding-right:1rem;}.pb-10 {padding-bottom:1rem;}
.p-15 {padding:1.5rem;}.pl-15 {padding-left:1.5rem;}.pt-15 {padding-top:1.5rem;}.pr-15 {padding-right:1.5rem;}.pb-15 {padding-bottom:1.5rem;}
.p-20 {padding:2rem;}.pl-20 {padding-left:2rem;}.pt-20 {padding-top:2rem;}.pr-20 {padding-right:2rem;}.pb-20 {padding-bottom:2rem;}
.p-25 {padding:2.5rem;}.pl-25 {padding-left:2.5rem;}.pt-25 {padding-top:2.5rem;}.pr-25 {padding-right:2.5rem;}.pb-25 {padding-bottom:2.5rem;}
.p-30 {padding:3rem;}.pl-30 {padding-left:3rem;}.pt-30 {padding-top:3rem;}.pr-30 {padding-right:3rem;}.pb-30 {padding-bottom:3rem;}
.p-35 {padding:3.5rem;}.pl-35 {padding-left:3.5rem;}.pt-35 {padding-top:3.5rem;}.pr-35 {padding-right:3.5rem;}.pb-35 {padding-bottom:3.5rem;}
.p-40 {padding:4rem;}.pl-40 {padding-left:4rem;}.pt-40 {padding-top:4rem;}.pr-40 {padding-right:4rem;}.pb-40 {padding-bottom:4rem;}
.p-45 {padding:4.5rem;}.pl-45 {padding-left:4.5rem;}.pt-45 {padding-top:4.5rem;}.pr-45 {padding-right:4.5rem;}.pb-45 {padding-bottom:4.5rem;}
.p-50 {padding:5rem;}.pl-50 {padding-left:5rem;}.pt-50 {padding-top:5rem;}.pr-50 {padding-right:5rem;}.pb-50 {padding-bottom:5rem;}