@import "vars", "mix";

/* BTNS */
.btn {
	@extend %noselect;

	& {display:inline-block;text-decoration:none;vertical-align:middle;border:0;line-height:1;text-align:center;transition:all .3s;color:$text-color;position:relative;bottom:0;box-sizing:border-box;}
	&:hover:not(.no-hover) {color:$text-color;text-decoration:none;cursor:pointer;}
	&:active {}

	&--fluid {width:100%;}

	&--sm {padding:1rem;}
	&--md {padding:1rem 2rem;}
	&--lg {padding:2rem;}
}


.btnDefault {background:$main-color;}


.btnAccent {background:$accent-color;}