@import "_vars";

/* BTNS */
.btn {
	@extend .no-select;

	& {display:inline-block;text-decoration:none;vertical-align:middle;border:0;line-height:$btn-line-heigh;text-align:center;transition:background .3s;position:relative;bottom:0;box-sizing:border-box;touch-action: manipulation;}

	&:hover:not(.no-hover), &--hover {text-decoration:none;cursor:pointer;}
	&:active, &--active {}
	&:disabled, &--disabled {cursor:default;opacity:.7;}

	&--fluid {width:100%;}

	&--sm {padding:1rem;}
	&--md {padding:1rem 2rem;}
	&--lg {padding:2rem;}
}


.btnDefault {
	& {background:$main-color;color:$text-color;}
}


.btnAccent {
	& {background:$accent-color;color:$text-color;}
}