@import "_vars";


//TITLE
.title {
	& {display:block;font-weight:bold;cursor:default;}


	&--h1 {margin-bottom:2rem;}
	&--h2 {margin-bottom:2rem;}
}




//ICNS
.icnSvg {
	& {display:inline-block;vertical-align:middle;fill:currentColor; @extend .no-select;@extend .no-events;}

	&--10 {width:1rem;height:1rem;}
	&--15 {width:1.5rem;height:1.5rem;}
	&--20 {height:2rem;width:2rem;}
	&--25 {height:2.5rem;width:2.5rem;}
	&--30 {height:3rem;width:3rem;}
}


//POP
.popup {
	& {background: #fff;margin:40px auto;max-width:450px;width:100%;padding:2rem 3rem;position:relative;text-align:left;box-sizing:border-box;}

	&__title {font-weight:bold;display:block;margin-bottom:2rem;}
}


//ALERT
.alert {
	& {background:#eee;margin:0 auto;text-align:center;border-radius:3px;padding:2rem;}

	&__title {font-weight:bold;margin-bottom:1rem;line-height:1;display:block;}
	&__text {}
}