@import "_vars";


//TITLES
.title {
	& {display:block;font-weight:bold;cursor:default;}

	&--h1 {margin-bottom:2rem;}
	&--h2 {margin-bottom:2rem;}
}




//ICNS
svg.icn {@extend .no-select;@extend .no-events;
	& {display:inline-block;vertical-align:middle;fill:currentColor;}
}



//POPS
.popup {
	& {background: #fff;margin:40px auto;max-width:450px;width:100%;padding:2rem 3rem;position:relative;text-align:left;}

	&__title {font-weight:bold;display:block;margin-bottom:2rem;}
}


//ALERTS
.alert {
	& {margin:0 auto;text-align:center;border-radius:3px;padding:2rem;border:1px solid $hr-color;}

	&--main {background:$color-main;}
	&--accent {background:$color-accent;}


	&__title {font-weight:bold;margin-bottom:1rem;line-height:1;display:block;}
	&__text {}
}