@import "_vars";

.w {margin-left:auto;margin-right:auto;width:$w;}

.noJs {background:#F47D7D;padding:1rem;text-align:center;color:#fff;font-size:12px;text-shadow:1px 1px 0 rgba(0,0,0,.1);}




//HEADER
.header {background: #000;}


//FOOTER
.footer {background: #777;}