@import "vars", "mix";

/* BTNS */
.btn {
	@extend %noselect;

	& {display:inline-block;text-decoration:none;vertical-align:middle;border:0;line-height:1;text-align:center;transition:all .3s;color:$text-color;position:relative;bottom:0;box-sizing:border-box;}
	&:hover {color:$text-color;text-decoration:none;cursor:pointer;}
	&:focus {}

	&--fluid {width:100%;}

	&--sm {padding:1rem;}
	&--md {padding:1rem 2rem;}
	&--lg {padding:2rem;}
}



/* INPUT */
.input {border:1px solid #ccc;box-sizing:border-box;transition:all .3s;outline:none !important;

	&:hover {}
	&:focus {}

	&--fluid {width:100%;}
}

.textarea {
	@extend .input;

	& {resize:vertical;min-height: 2rem;}
	&:hover {@extend .input:hover;}
	&--fluid {@extend .input--fluid;}
}


.select {
	@extend .input;
	& {cursor:pointer;}

	&:hover {@extend .input:hover;}
	&--fluid {@extend .input--fluid;}
}



/* FORMS */
.form {
	&__row {margin-bottom: 2rem;}
	&__row:last-child {margin-bottom: 0;}
	&__row--send {margin-top:3rem;}
	&__row--half {width: 50%;float: left;box-sizing: border-box;padding-right: 1rem;}
	&__row--half + &__row--half {padding-left: 1rem;padding-right: 0;}

	&__label {display: block;line-height: 1;margin-bottom: 1rem;font-size: 1.3rem;}
}