@import "vars", "mix";


@-ms-viewport {width:device-width}

//Desktop
@media (max-width: 1200px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 960px) {
	.h1 {font-size:2vw *1.1;}
	.h2 {font-size:1.8vw *1.1;}
	.h3 {font-size:1.6vw *1.1;}
	.h4 {font-size:1.4vw *1.1;}
	.h5 {font-size:1.3vw *1.1;}
	.h6 {font-size:1.2vw *1.1;}
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}




// Mobile first
@media (min-width: 320px) {

}

@media (min-width: 479px) {

}